.row
  .small.12.columns
    %h1 Exercise App
.row
  .small-3.columns
    %input#exercise{type: 'text', placeholder: 'Push-Ups'}
  .small-3.columns
    %input#reps{type: 'text', placeholder: 'reps'}
  .small-3.columns
    %input#add.button.success.radius.small{type: 'button', value: "add" }
.row
  .small-12.columns
    #listing