!!! 5
%html{lang: 'en'}
 %head
 %meta{charset: 'utf-8'}
 %title HAML
 %link{rel: 'stylesheet', href: 'css/normalize.css'}
 %link{rel: 'stylesheet', href: 'css/style.css'}

 %body
  %h1 Color Selector
  %input#color{type: 'text', autofocus: true, placeholder: '#abE021'}
  %input#add_color{type: 'button', value: 'Add Color'}
  #brush.box
  .clear
  #colors

  %script{src: 'js/jquery-1.10.2.min.js'}
  %script{src: 'js/underscore-min.js'}
  %script{src: 'js/main.js'}
