.row
  .small-12.columns
    %h1 Calculator
.row
  .small-3.columns
    %input#op1{type: 'text', placeholder: '3'}
  .small-2.columns
    %input#operator{type: 'text', placeholder: '*'}
  .small-3.columns
    %input#op2{type: 'text', placeholder: '2'}
  .small-4.columns
    %input#calculate.button.small.radius.success{type: 'button', value: 'Calculate'}
.row
  .small-1.columns
    #result
  .small-5.columns
    %ul#history
  .small-6.columns
