!!! 5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %meta{name: "viewport", content: "width=device-width"}
  %title Foundation 4
  %link{rel: "stylesheet", href: "css/normalize.css"}
  %link{rel: "stylesheet", href: "css/foundation.css"}
  %link{rel: "stylesheet", href: "css/app.css"}
  %script{src: "js/vendor/custom.modernizr.js"}
%body
  .row
    .small-12.columns
      %h1 Stock Market App
  .row
    .small-2.columns
      %input#symbol{type: 'text', placeholder: 'Symbol'}
    .small-2.columns
      %input#quantity{type: 'text', placeholder: 'quantity'}
    .small-2.columns
      %input#buy.button.small.success.radius{type: 'button', value: 'Buy'}
    .small-6.columns
  .row
    .small-3.columns
      %input#funds{type: 'text', placeholder: 'funds'}
    .small-3.columns
      %input#addFunds.button.small.success.radius{type: 'button', value: 'Set'}
    .small-6.columns
  .row
    .small-8.columns
      %h4#balance Account Balance
    .small-2.columns
      %input#updateInterval{type: 'text', placeholder: 'interval'}
    .small-2.columns
      %input#buy.button.small.success.radius{type: 'button', value: 'Set'}
  .row
    .small-12.columns
      %table
        %th Name
        %th Symbol
        %th Quote
        %th # Purchased
        %th Current Price
  .row
    .small-12.columns
    #rows
  .row
    .small-12.columns
    %h4 Total Balance

  %script{src: 'js/vendor/jquery-1.10.2.js'}
  %script{src: 'js/vendor/foundation.min.js'}
  %script{src: 'js/vendor/underscore.js'}
  %script{src: 'js/vendor/moment.min.js'}
  %script{src: 'https://cdn.firebase.com/v0/firebase.js'}
  %script{src: 'js/app/app.js'}
