#left
  #map-canvas
#right
  .row
    .small-6.columns
      %input#erase.button.small.alert.radius{type: 'button', value: 'Erase'}
  .row
    .small-6.columns
      %input#start.button.small.radius{type: 'button', value: 'Start'}
  .row
    .small-6.columns
      %input#stop.button.small.alert.radius{type: 'button', value: 'Stop'}
  .row
    .small-6.columns
      %h3#debug