@mixin font_fn($color, $font-family, $font-size, $line-height, $letter-spacing)
{
color:$color;
font-family: $font-family;
font-size: $font-size;
line-height: $line-height;
letter-spacing: $letter-spacing;
}

@mixin box_fn($margin, $padding, $border,$border-radius, $background-color, $box-shadow)
{
  margin: $margin;
  padding: $padding;
  border: $border;
  border-radius: $border-radius;
  background-color: $background-color;
  box-shadow: $box-shadow;
}