

header
{
  border: 2px dashed $teslared;

  #logo
  {
    width: 78px;
    height:105px;
    background: url(../images/tesla_flag.png);
    float:left;
  }

  #company
  {
     float: left;

       h1
        {
          margin-left:40px;
          margin-top: 30px;
          font-family: $brand_font;
        }
  }



}